# Data directory (MySQL persistent volumes)
data/

# IDE & Editor files
.idea/
.vscode/
*.iml

# Crash logs
hs_err_pid*.log
replay_pid*.log

# Build & compiled output
**/build/
**/bin/
*.class
.gradle/
**/.gradle/
*.log
node_modules/
**/node_modules/
dist/
**/dist/
internhub-frontend/


# Uploads directory
uploads/
**/uploads/

# Environment files
.env
.env.*
!.env.example
